<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>

    <script>

      $(document).ready(function () {
        chart1 = new Highcharts.Chart({
          chart: {
            renderTo: 'chart1',
            defaultSeriesType: 'line',
            zoomType: 'x',
            events: {
              load: requestData
            }
          },
          navigator: {
            height: 80
          },

          title: {
            text: 'Objects vs rssmax'
          },
          xAxis: {
            type: 'linear',
            tickInterval: 1
          },
          yAxis: [{
            minPadding: 0.2,
            maxPadding: 0.2,
            title: {
              text: 'kbytes',
              margin: 80
            }
          },
            {
              minPadding: 0.2,
              maxPadding: 0.2,
              title: {
                text: 'Objects',
                margin: 80
              },
              opposite: true
            }],
          series: [
            {

              yAxis: 0,

              name: 'rssmax',
              data: []
            },

            {
              yAxis: 1,
              name: 'old_obj',
              data: []
            }
          ]
        });

//          chart2 = new Highcharts.Chart({
//            chart: {
//              renderTo: 'chart2',
//              defaultSeriesType: 'spline'
//            },
//            title: {
//              text: 'total_allocated_objects vs total_freed_objects'
//            },
//            xAxis: {
//              type: 'linear',
//              tickInterval: 1
//            },
//            yAxis: [{
//              minPadding: 0.2,
//              maxPadding: 0.2,
//              title: {
//                text: 'objects',
//                margin: 80
//              }
//            },
//              {
//              minPadding: 0.2,
//              maxPadding: 0.2,
//                opposite: true,
//              title: {
//                text: 'objects',
//                margin: 80
//              }
//            }],
//            series: [
//              {
//                name: 'total_allocated_objects',
//                data: []
//              },
//              {
//                name: 'total_freed_objects',
//                data: []
//              },
//              {
//                yAxis: 1,
//                name: 'heap_live_slots',
//                data: []
//              }
//            ]
//          });

            function requestData() {
                var lineno = 0;
                $.ajax({
                    url: '/data',
                    success: function(points) {

                      chart1.series[0].setData([]);
                      chart1.series[1].setData([]);


//                      chart2.series[0].setData([]);
//                      chart2.series[1].setData([]);
//                      chart2.series[2].setData([]);
                      $.each(points, function (key, value) {
                        chart1.series[0].addPoint(value[0],false);
                        chart1.series[1].addPoint(value[1],false);

//
//                        chart2.series[0].addPoint(value[3],false);
//                        chart2.series[1].addPoint(value[4],false);
//                        chart2.series[2].addPoint(value[5],false);
                      });

                      chart1.redraw();
//                      chart2.redraw()


                        // call it again after one second
//                        setTimeout(requestData, 5000);
                    },
                    cache: false
                });
            }

        });


    </script>

</head>
<body>

<div id="chart1" style="height: 300px;"></div>
<div id="chart2" style="height: 300px;"></div>
<div id="chart3" style="height: 300px;"></div>
<div id="chart4" style="height: 300px;"></div>
</body>
</html>
