<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <!--<script src="http://code.highcharts.com/highcharts.js"></script>-->
  <script src="https://code.highcharts.com/stock/highstock.js"></script>
  <script src="http://code.highcharts.com/modules/exporting.js"></script>

    <script>

      $(function () {

        // Create the chart
        $('#container_tmp').highcharts('StockChart', {
          title: {
            text: 'tmp'
          },
          chart: {
            zoomType: 'x'
          },

          rangeSelector: {
            enabled: false
          },


          legend: {
            enabled: true
          },

          xAxis: [
            {
              type: 'linear'
            }
          ],

          yAxis: [{
            title: {
              text: 'kbytes'
            }
          },
            {
              title: {
                text: 'Objects'
              },
              opposite: true
            }],

          exporting: {
            sourceWidth: 1000,
            sourceHeight: 600,

          },


          series: [{
            yAxis: 0,
            name: 'rss',
            data: [],
            pointStart: 100,
            pointInterval: 1000,
            turboThreshold: 0,
            tooltip: {
//              pointFormat: '{series.name}: <b>{point.y}</b> point.name<br/>',
              shared: true
            }
          },

            {
              yAxis: 1,
              name: 'obj',
              data: [],
              pointStart: 100,
              pointInterval: 1000,
            },
            {
              yAxis: 1,
              name: 'obj',
              data: [],
              pointStart: 100,
              pointInterval: 1000,
            }

          ]

        });


        // Create the chart
        $('#container').highcharts('StockChart', {
          title: {
            text: 'With sidekiq (4.0.1)'
          },
          chart: {
            zoomType: 'x'
          },

          rangeSelector: {
            enabled: false
          },


          legend: {
            enabled: true
          },

          xAxis: [
            {
              type: 'linear'
            }
          ],

          yAxis: [{
            title: {
              text: 'kbytes'
            }
          },
            {
              title: {
                text: 'Objects'
              },
              opposite: true
            }],

          exporting: {
            sourceWidth: 1000,
            sourceHeight: 600,

          },


          series: [{
            yAxis: 0,
            name: 'rss',
            data: [],
            pointStart: 100,
            pointInterval: 1000,
            turboThreshold: 0,
            tooltip: {
//              pointFormat: '{series.name}: <b>{point.y}</b> point.name<br/>',
              shared: true
            },
          },

            {
              yAxis: 1,
              name: 'obj',
              data: [],
              pointStart: 100,
              pointInterval: 1000,
            }

          ]

        });

        // Create the chart
        $('#container2').highcharts('StockChart', {
          title: {
            text: 'With  sidekiq (3.5.1)'
          },
          chart: {
            zoomType: 'x'
          },

          rangeSelector: {
            enabled: false
          },


          legend: {
            enabled: true
          },

          yAxis: [{
            title: {
              text: 'kbytes'
            }
          },
            {
              title: {
                text: 'Objects'
              },
              opposite: true
            }],

          exporting: {
            sourceWidth: 1000,
            sourceHeight: 600,

          },

          series: [{
            yAxis: 0,
            name: 'rss',
            data: [],
            pointStart: 100,
            pointInterval: 1000,
            turboThreshold: 0,
            tooltip: {
//              pointFormat: '{series.name}: <b>{point.y}</b> point.name<br/>',
              shared: true
            },
          },

            {
              yAxis: 1,
              name: 'obj',
              data: [],
              pointStart: 100,
              pointInterval: 1000,
            }

          ]

        });

        $('#container3').highcharts('StockChart', {
          title: {
            text: 'Without sidekiq'
          },
          chart: {
            zoomType: 'x'
          },

          rangeSelector: {
            enabled: false
          },

          legend: {
            enabled: true
          },
          yAxis: [{
            title: {
              text: 'kbytes'
            }
          },
            {
              title: {
                text: 'Objects'
              },
              opposite: true
            }],

          exporting: {
            sourceWidth: 1000,
            sourceHeight: 600,

          },


          series: [{
            yAxis: 0,
            name: 'rss',
            data: [],
            pointStart: 100,
            pointInterval: 1000,
            turboThreshold: 0,
            tooltip: {
              shared: true
            },
          },

            {
              yAxis: 1,
              name: 'obj',
              data: [],
              pointStart: 100,
              pointInterval: 1000,
            }

          ]

        });


        function requestData() {
          $.ajax({
            url: '/data',
            success: function (points) {
              var chart1 = $('#container').highcharts();
              chart1.series[0].setData([]);
              chart1.series[1].setData([]);

              $.each(points, function (key, value) {
                chart1.series[0].addPoint({x:key, y:Number(value[0])} , false);
                chart1.series[1].addPoint([key, Number(value[1])], false);

              });

              chart1.redraw();

            }
          });

          $.ajax({
            url: '/data2',
            success: function (points) {
              var chart1 = $('#container2').highcharts();
              chart1.series[0].setData([]);
              chart1.series[1].setData([]);

              $.each(points, function (key, value) {
                chart1.series[0].addPoint({x:key, y:Number(value[0]), name: value[2]+" "+value[3]} , false);
                chart1.series[1].addPoint([key, Number(value[1])], false);

              });

              chart1.redraw();

            }
          });

          $.ajax({
            url: '/data3',
            success: function (points) {
              var chart1 = $('#container3').highcharts();
              chart1.series[0].setData([]);
              chart1.series[1].setData([]);

              $.each(points, function (key, value) {
                chart1.series[0].addPoint({x:key, y:Number(value[0]), name: value[2]+" "+value[3]} , false);
                chart1.series[1].addPoint([key, Number(value[1])], false);

              });

              chart1.redraw();

            }
          });

          $.ajax({
            url: '/data_tmp',
            success: function (points) {
              var chart1 = $('#container_tmp').highcharts();
              chart1.series[0].setData([]);
              chart1.series[1].setData([]);

              $.each(points, function (key, value) {
                chart1.series[0].addPoint([key, Number(value[0])], false);
                chart1.series[1].addPoint([key, Number(value[1])], false);
//                chart1.series[2].addPoint([key, Number(value[2])], false);

              });

              chart1.redraw();

            }
          });

        }

        requestData();



      });


    </script>

</head>
<body>

<div id="container_tmp" style="height: 800px;"></div>
<div id="container" style="height: 800px;"></div>
<div id="container2" style="height: 800px;"></div>
<div id="container3" style="height: 800px;"></div>
</body>
</html>
